* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}
body {
  background-color:#141c27;
  box-sizing: border-box;
  overflow: hidden;

}
.container {
  padding: 2%;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  position: absolute;
  top:0;
}

.area{
    background: #141c27;  
    /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    width: 100%;
    height:100vh;
    z-index: -1;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.container {
  height: 100vh;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
.page {  
  scroll-snap-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2em;
}
.page div  {
  color: rgb(255,255,129);
  font-size: 5rem;
}
.page .word {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 900;
  padding: 1.5rem;
}
.page div  {
  color: rgb(255,255,129);
  font-size: 5rem;
}
.page .word .char {
  font-size: 5rem;
  color: rgb(255,255,129);

}
.page .char {
  display: inline-block;
  -webkit-animation-delay: calc(0.25s + var(--char-index) * 0.1s);
          animation-delay: calc(0.25s + var(--char-index) * 0.1s);
  transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
  color: white;
}
.text--blocks [data-scroll='out'] .char {
  visibility: hidden;
}
.text--blocks [data-scroll='in'] {
  overflow: hidden;
  position: relative;
}
.text--blocks [data-scroll='in'] .char {
  transition-delay: 0.5s;
}
.text--blocks [data-scroll='in']:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255,255,129);
  -webkit-animation: block 0.5s 0.25s both;
          animation: block 0.5s 0.25s both;
}
@-webkit-keyframes block {
  0% {
    transform: translate(-110%, 0);
  }
  45%, 55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}
@keyframes block {
  0% {
    transform: translate(-110%, 0);
  }
  45%, 55% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}



main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  min-height: 500px;
  padding: 1rem;

}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 450px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}

label {
  font-size: 14px;
  font-weight: 600;
  display: block;
   margin-bottom: 10px;

}

/* .grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
} */

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

div > img {
  object-fit: contain;
  width: 150px;
  height: 150px;

}
div.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


input[type="submit"] {
  background-color: rgb(84, 105, 212);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              rgb(84, 105, 212) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
/* media Queries */
@media only screen and (max-width: 500px) {
  .page .word .char {
      font-size: 3rem;
  }
} 

/* Background Animation */

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
/* helper classes*/
.box-background--blue {
  background-color: #5469d4;
}
.box-background--white {
background-color: #ffffff; 
}

.padding-top--64 {
padding-top: 64px;
}
.padding-top--24 {
padding-top: 24px;
}
.padding-top--48 {
padding-top: 48px;
}
.padding-bottom--24 {
padding-bottom: 24px;
}
.padding-horizontal--48 {
padding: 48px;
}
.padding-bottom--15 {
padding-bottom: 15px;
}

.padding-bottom--10 {
  padding-bottom: 10px;
}

.padding-bottom--42 {
  padding-bottom: 42px;
}

.flex-justifyContent--center {
-ms-flex-pack: center;
justify-content: center;
}
.bold {
  font-weight: 600;
}
.center {
  text-align: center;
}
.hide {
  display: none;
}
